<div id="app">
<div id="main">
  <div id="filters">
  </div>
  <div class="add-bmark">
  </div>  	
  <div class="bmarks">
  </div>
</div>
</div>

<div id="footer">
<div class="button">
  
  <a href="javascript:(function(){f='<%= root_url %>bmarks/new?link='+encodeURIComponent(window.location.href)+'&title='+encodeURIComponent(document.title);window.open(f);})();" >save on Freemark</a>
 <br/>Please drag the button into your toolbar   
</div>
<div class="import"> <a href="/import">Import your Bookmarks</a>	</div>
</div>
<script type="text/javascript">
jQuery(function(){
  new App({el: $('#app')});
});
</script>