@import "bootstrap";

//add bmark area
div.add-bmark {
  @extend .clearfix;
  margin: 20px auto;

  button.new-bmark {
    @extend .btn;
    @extend .btn-success;
  }

  div.edit {
    padding: 20px 20px;
    @extend .alert;
    @extend .alert-info;

    div {
      float: right;
    }

  }

  button.create-bmark {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-small;

  }

  a.cancel {
    @extend .btn;
    @extend .btn-small;
  }
}


// bmarks area
div.bmarks {
  @extend .clearfix;
}

// each bmark
div.bmark {
  @extend .span8;
  @extend .clearfix;
  border-bottom-style: dashed;
  border-width: 1px;
  margin: 10px auto;

// bmark area
  .bmark-area {
    @extend .clearfix;
    margin-bottom: 10px;
  }

  .view {
    a.title {
      @extend .span2;
      float: left;
      margin-right: 10px;
    }

    p.desc {
      @extend .span4;
      float: left;
    }
    div.action {
      @extend .span2;
      float: right;
    }   

    a[data-type="destroy"] {
      @extend .btn;
      @extend .btn-small;
    }

    a[data-type="edit"] {
      @extend .btn;
      @extend .btn-small;
      @extend .btn-primary;
    } 

  }

  .edit {
    form.edit-bmark {
      @extend .form-horizontal;
    }

    input {
      @extend .input-medium;
    }

    button.save {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-mini;
    }

    a.cancel {
      @extend .btn;
      @extend .btn-mini;
    }
  }

//tagging area
  .tag-area {
    @extend .clearfix;
  }

//tagging list
  div.taggings {
    @extend .span5;
    float: left;
  }

  span.tagging {
    @extend .label;
    margin: 10px 10px 10px 0;
  }

//add tagging
  div.add-tagging {
    @extend .span2;
    float: right;

    form {
      @extend .form-horizontal;
    }

    input {
      @extend .input-mini;
    }

    button.add-tag {
      @extend .btn;
      @extend .btn-success;
      @extend .btn-mini;
    }
  }
}

