 /*
 *= require_self
 *= require jquery.ui.autocomplete
 */
@import "bootstrap";

.fm-navbar {
  @extend .navbar;
  @extend .navbar-static-top;
  @extend .navbar-inverse;
}

.fm-navbar-inner {
  @extend .navbar-inner;
}

.fm-navbar-login {
  @extend .nav;
  @extend .pull-right;
}

.fm-notice {
  @extend .alert;
  @extend .alert-success;
}

.fm-alert, #error_explanation {
  @extend .alert;
  @extend .alert-error;
  h2 {
    font-size: $baseFontSize + 2px;
    line-height: $baseFontSize + 2px;
  }  
}

.fm-btn-signup {
  @extend .btn;
  @extend .btn-primary;
  padding: 5px 86px;
  font-size: $baseFontSize + 2px;
  line-height: normal;
  @include border-radius(5px);
}

.fm-input-pwd-forgot {
  @extend .input-large;
  width: 264px;
}

.fm-btn-pwd-forgot {
  @extend .fm-btn-signup;
  padding: 5px 10px;
}

.fm-btn-pwd-reset {
  @extend .fm-btn-signup;
  padding: 5px 36px;
}

.fm-container {
  @extend .container;
  margin: 20px auto;
}

.fm-container-setup {
  @extend .fm-container;
  width: 600px;
}

.fm-remember-me {
  @extend .input-large;

  background-color: #cccccc;
  @include border-radius(5px);
  padding: 6px 6px;
  margin-bottom:10px;

  input {
    margin: auto 20px;
  }

  label {
    margin: auto auto;
    display: inline;
  }
}

// -- app

button {
  @extend .btn;
  @extend .btn-small;
}


div#app {
  @extend .row;
  @extend .clearfix;
}

div#main {
  @extend .span8;
  float: left;

  .bmark .edit { display: none; }
  .bmark.editing .edit { display: block; }
  .bmark.editing .view { display: none; }

  .add-bmark .edit { display: none; }
  .add-bmark.editing .edit { display: block; }
  .add-bmark.editing .view { display: none; }

  .bmark.hide { display: none;}

  #filters {
    @extend .span8;
    @extend .alert;
    @extend .alert-info;
    margin: auto auto;

    span {
      @extend .label;
      margin: auto 10px;
    }

    label {
      display: inline;
      float: left;
    }

    button {
      float: right;
    }

    div {
      @extend .clearfix;
    } 
  }
}

div#footer {
  @extend .alert;
  @extend .alert-info;
  @extend .row;
  @extend .clearfix;
  @extend .span12;

  margin: 20px auto;

  a {
    @extend .btn;
  }

  div.button {
    @extend .span6;
    float: left;

    a {
      @extend .btn-primary;
    }

  }
  div.import a{
    @extend .span3;
    @extend .btn-success;
    float: right;
  }  
}

// -- tags
div.tags {
  @extend .span3;
  @extend .alert;
  @extend .alert-info;
  float: right;

  button.alpha-sort {
    @extend .btn-primary;
  }

  button.hot-sort {
    @extend .btn-inverse;    
    float: right;
  }  
}

div.tag {
  @extend .label;
  font-size: 14px;
  padding: 10px 10px;
  margin: 10px auto;
  align-content:  center;
  span {
    @extend .badge;
    @extend .badge-inverse;
    float: right;
  }
}

// -- bmarks
//add bmark area
div.add-bmark {
  @extend .clearfix;
  margin: 20px auto;

  button.new-bmark {
    @extend .btn-success;
  }

  div.edit {
    padding: 20px 20px;
    @extend .alert;
    @extend .alert-info;

    div {
      float: right;
    }

  }

  button.create-bmark {
    @extend .btn-primary;
  }
}


// bmarks area
div.bmarks {
  @extend .clearfix;
}

// each bmark
div.bmark {
  @extend .span8;
  @extend .clearfix;
  border-bottom-style: dashed;
  border-width: 1px;
  margin: 10px auto;

// bmark area
  .bmark-area {
    @extend .clearfix;
    margin-bottom: 10px;
  }

  .view {
    a.title {
      @extend .span2;
      float: left;
      margin-right: 10px;
    }

    p.desc {
      @extend .span4;
      float: left;
    }
    div.action {
      @extend .span2;
      float: right;
    }   

    button[data-type="edit"] {
      @extend .btn-primary;
    } 

  }

  .edit {
    form.edit-bmark {
      @extend .form-horizontal;
    }

    input {
      @extend .input-medium;
    }

    button.save {
      @extend .btn-primary;
    }

  }

//tagging area
  .tag-area {
    @extend .clearfix;
  }

//tagging list
  div.taggings {
    @extend .span5;
    float: left;
  }

  span.tagging {
    @extend .label;
    margin: 10px 10px 10px 0;
  }

//add tagging
  div.add-tagging {
    @extend .span2;
    float: right;

    form {
      @extend .form-horizontal;
    }

    input {
      @extend .input-mini;
    }

    button.add-tag {
      @extend .btn-success;
    }
  }
}



// -- scaffolds

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
