@import "bootstrap";

div.tags {
  @extend .span3;
  @extend .alert;
  @extend .alert-info;
  float: right;

  button.alpha-sort {
    @extend .btn;
    @extend .btn-small;
    @extend .btn-primary;
  }

  button.hot-sort {
    @extend .btn;
    @extend .btn-small;
    @extend .btn-inverse;    
    float: right;
  }  
}

div.tag {
  @extend .label;
  font-size: 14px;
  padding: 10px 10px;
  margin: 10px auto;
  align-content:  center;
  span {
    @extend .badge;
    @extend .badge-inverse;
    float: right;
  }
}