<div id="app">
<div id="bmarks">
<div class="new-bmark">

</div>


<div class="items">
</div>
</div>
</div>

<script type="text/javascript">
jQuery(function(){
  new App({el: $('#app')});
});
</script>